@import 'styles/settings';

.c-cookie-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: white;

  padding: 10px;

  z-index: $z-index-100;
  animation: appear 300ms 2s forwards;

  @keyframes appear {
    0% { transform: translateY(100%) }
    100% { transform: translateY(0) }
  }

  .cookie-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .cookie-text {
    margin-right: 20px;
  }

  .cookie-link {
    text-decoration: underline;
    font-weight: bold;
  }

  .cookie-button {
    @include button;
    padding: 10px 25px;
    background-color: black;
    color: white;
    line-height: initial;
    max-width: fit-content;

    @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
      width: 120px;
      height: 45px;
      line-height: 30px;
    }
  }
}
