@import 'styles/settings';

.c-download {
  display: flex;
  cursor: pointer;

  svg {
    stroke: white;
    will-change: stroke;
  }

  :hover {
    svg {
      stroke: $color-3;
      transition: stroke 0.3s ease-in-out;
    }
  }

  &.-desktop {
    @include headerElements('center');
  }

  &.-mobile {
    position: relative;
  }

  .download-content {
    align-items: center;
    display: flex;

    .download-link {
      font-weight: bold;
    }

    .download-icon {
      margin-left: 10px;
      vertical-align: text-top;
    }
  }

  &.-mobile {
    position: relative;
  }
}
