@import 'styles/settings';

.c-download {
  @include headerElements('center');
  display: flex;

  .download-content {
    align-items: center;
    display: flex;

    a {
      padding-right: 10px;
      font-weight: bold;
    }
  }
}
