@import 'styles/settings';


.l-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  font-family: $font-family-1;
  align-items: center;
  padding: 60px 0;

  p {
    color: white;
    display: inline-flex;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 72px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
  }

  .footer-piece-button {
    @include button;
    background-color: white;
    color: black;
  }
  .footer-sound-button {
    padding-top: 60px;

    button {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      bottom: 0;
    }
  }
}
