@import 'styles/settings';

.l-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  font-family: $font-family-1;
  align-items: center;
  padding: 60px 0;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: white;
      display: inline-flex;
      font-size: 60px;
      letter-spacing: 0;
      line-height: 72px;
      text-align: center;
      margin: 0;
      padding-bottom: 40px; 
  
      @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
        font-size: 50px;
      }
    }
  
    .footer-piece-button {
      @include button;
      background-color: white;
      color: black;
    }

    .footer-sound-button {
      padding-top: 60px;
  
      button {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}
