@import 'styles/settings';

.c-header-mobile {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 200;

  &.-open {
    background-color: black;
    height: 100%;
  }

  .header-description {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 20px;

    a {
      font-weight: bold;

      &:hover {
        color: $color-3;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  .header-menu--button {
    @include closeButton;
    position: absolute;
    top: 20px;
    right: 20px;

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
      width: 50px;
      height: 50px;
    }
  }

  .menu-content {
    position: absolute;
    top: 55px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: $background-color;

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
  
      .menu-item {
        font-family: $font-family-1;
        padding: 20px;
  
        h3 {
          font-size: 30px;
          font-weight: 300;
  
          &.-block0 {
            color: $color-1;
          }

          &.-block1 {
            color: $color-3;
          }

          &.-block2 {
            color: $color-2;
          }

          @media screen and (max-width: map-get($flexboxgrid-breakpoints, xsm)) {
            font-size: 20px;
            line-height: 20px;
          }
        }
  
        a {
          font-size: 20px;
          font-weight: 600;
          line-height: 35px;
          text-decoration: underline;
          padding-right: 10px;

          @media screen and (max-width: map-get($flexboxgrid-breakpoints, xsm)) {
            font-size: 16px;
            line-height: 16px;
            padding-right: 0;
          }
        }

        @media screen and (max-width: map-get($flexboxgrid-breakpoints, xsm)) {
          padding: 0px;
        }
      }
    }

    .sub-menu {
      font-family: $font-family-1;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;

      .sub-menu-item {
        padding: 20px;

        &.privacy-link {
        
          &:hover {
            color: #FFE229;
            transition: color 0.3s ease-in-out;
          }
        }

        @media screen and (max-width: map-get($flexboxgrid-breakpoints, xsm)) {
          padding: 10px 0;
        }
      }

      @media screen and (max-width: map-get($flexboxgrid-breakpoints, xsm)) {
        padding: 20px 0;
      }
    }

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, xsm)) {
      padding: 20px;
    }
  }
}
