@import 'styles/settings';

.c-header-mobile {
  width: 100vw;
  position: absolute;
  z-index: 200;

  .header-description {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 20px;

    a {
      font-weight: bold;

      &:hover {
        color: $color-3;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  .header-menu--button {
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu-content {
    position: absolute;
    top: 55px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: $background-color;

    .menu-item {
      padding: 20px
    }
  }
}
