@import 'styles/settings';

  .c-sound-button {
    background-color: transparent;
    color: $gray-300;
    z-index: $z-index-200;
    font-size: 12px;
    letter-spacing: 2px;

    &.-absolute {
      position: absolute;
      bottom: 5%;
      right: 30px;
    }

    &.-relative {
      position: relative;
    }
  }



