@import 'styles/settings';

  .c-social-media {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
      flex-direction: row;
    }

    .title {

      margin-bottom: 10px;
      @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
        margin-bottom: 0;
      }
    }

    .social-networks {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;
      list-style: none;

      @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
        justify-content: center;
      }

      li {
        margin-left: 0;

        &:not(:last-of-type) {
          margin-right: 15px;
        }

        a {
          color: white;
          text-decoration: none;
          display: flex;
        }
      }
    }
  }



