@import 'styles/settings';

.c-header-desktop {
  width: 100vw;
  z-index: $z-index-10;

  .header-description {
    position: absolute;
    left: 40px;
    top: 40px;
    display: inline-block;
    margin: 0;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 20px;
    margin: 0;

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, md)) {
      max-width: 140px;
    }

    a {
      font-weight: bold;

      &:hover {
        color: $color-3;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}
