@import 'styles/settings';

.c-restart-modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;

  @media screen and (min-width: map-get($flexboxgrid-breakpoints, sm)) {
    min-width: 300px;
  }

  @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
    min-width: 700px;
  }

  @media screen and (min-width: map-get($flexboxgrid-breakpoints, lg)) {
    min-width: 900px;
  }




  .restat-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


  .share {
    
    cursor: url('/copy.svg'), auto;
    
    &.-copied {
      cursor: url('/clipboard.svg'), auto;
    }

  }

    h1 {
      display: inline-flex;
      font-family: $font-family-2;
      font-weight: 100;
      font-size: 64px;
      letter-spacing: 0;
      line-height: 74px;

      @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
        font-size: 35px;
        line-height: 35px;
      }

      @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
        font-size: 80px;
        line-height: 80px;
      }
    }
  
    p {
      font-family: Inter;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 24px;

      @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
        font-size: 16px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
    }
            
    li, a {
      font-family: $font-family-1;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 36px;
      display: flex;
      align-items: center;

      @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
        font-size: 16px;
      }

      @media screen and (max-width: map-get($flexboxgrid-breakpoints, md)) {
        font-size: 18px;
        line-height: 18px;
      }
    }

    .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 30px;
      border-color: transparent transparent transparent $color-2;
      padding-right: 20px;
    }
  }

  h2 {
    text-align: center;
    color: $color-2;

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
      font-size: 20px;
    }
  }

  .close--btn {
    @include closeButton;
    position: absolute;
    top: -35px;
    right: -35px;
  }
}