@import 'styles/settings';

.c-intro {
  color: white;
  align-items: center;
  text-align: center;
  z-index: $z-index-15;
  height: 100vh;
  max-width: 50vw;
  position: relative;

  .intro-container {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro-title {
      display: flex;
      flex-direction: column;
      letter-spacing: 0;
      align-items: center;
  
      * {
        margin: 0;
      }
  
      h1 {
        font-family: $font-family-2;
        font-weight: 300;
        max-width: 100%;
        font-size: 180px;
        letter-spacing: 0;
        line-height: 180px;
        text-align: center;
  
        // @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
        //   font-size: 80px;
        // }
  
        // @media screen and (min-width: map-get($flexboxgrid-breakpoints, lg)) {
        //   font-size: 130px;
        // }
      }
  
      h2 {
        font-family: $font-family-1;
        color: $color-2;
        font-size: 54px;
        font-weight: 600;
        line-height: 65px;
      }
    }

    .intro-text {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.6;
  
      @media screen and (min-width: map-get($flexboxgrid-breakpoints, sm)) {
        font-size: 20px;
        line-height: 35px;
      }
    }
  
    button {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      background-color: white;
      font-size: 20px;
      text-align: center;
    }
  
    @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {
      padding: 20px 50px;
    }
  }
}
