@import 'styles/settings';

.c-modal-overlay {
  background-color: rgba($color-1, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, 50%), scale3d(1, 1, 1);
  border-radius: 100%;
  display: flex;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  transition: ease all 0.75s;

  &.ReactModal__Overlay--after-open {
    background-color: rgba($color-1, 1);
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: scale3d(4, 4, 4);
    border-radius: 0;
  }



//   @media screen and (min-width: map-get($flexboxgrid-breakpoints, md)) {
//     padding: 20px 0 40px;
//   }
}

.c-modal {
  background-color: rgba($color-1, 0.8);
  // overflow: hidden;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, 50%), scale3d(0, 0, 0);
  position: absolute;
  transition: ease all 0.25s;
  

  &.ReactModal__Content--after-open {
    background-color: rgba($color-1, 1);

    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: scale3d(0.25, 0.25, 0.25);


    &:focus {
      outline: none;
    }
  }

}
