@import 'styles/settings';

.c-home-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
  align-items: baseline;

  a {
    margin: 0;
    font-weight: bold;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, md)) {
      max-width: 140px;
      line-height: 20px;
    }

    span {
      font-size: 25px;
    }
  }
}
