@import 'styles/settings';

.c-header-intro {
  @include headerElements('left');

  .header-description {
    display: flex;
    margin: 0;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 20px;

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, md)) {
      max-width: 140px;
    }

    p {
      margin: 0;
    }

    span {
      font-weight: bold;
    }
  }
}
