@font-face {
    font-family: "Baskerville";
    src: url("./fonts/BaskervilleBT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Baskerville";
    src: url("./fonts/BaskervilleBoldBT.woff") format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
  