$color-1: #A087FF; 
$color-2: #2BA4A0;
$color-3: #FFE229;
$background-color: #272727;

$z-index-base: 0;
$z-index-10: 10;
$z-index-15: 15;
$z-index-20: 20;
$z-index-100: 100;
$z-index-200: 200;

$gray-300: #D8D8D8;

$background-color: #000;

$font-family-1: Inter;
$font-family-2: Baskerville;

// Breakpoints
$xsm: 300px;
$sm: 576px;
$md: 790px;
$lg: 1024px;
$xlg: 1200px;

$breakpoints: (
  xsm: $xsm,
  sm: $sm,
  md: $md,
  lg: $lg,
  xlg: $xlg
);

$flexboxgrid-max-width: 1280px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1.5rem;
$flexboxgrid-outer-margin: 3rem;
$flexboxgrid-breakpoints: (
    xsm: $xsm,
    sm: $sm,
    md: $md,
    lg: $lg,
    xlg: $xlg
);


$flexboxgrid-gutter-compensation: $flexboxgrid-gutter-width * .5 * -1;
$flexbox-grid-half-gutter-width: $flexboxgrid-gutter-width * 5;

