.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.canvasContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main {
  color: white;
  flex: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 20;
}

.circle {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-delay: 0;
  border-radius: 100%;
}

.innerCircle {
  height: calc(250px * 0.5);
  width: calc(250px * 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation-name: stretch2;
  animation-duration: 1.25s;
  animation-delay: 0;
  border-radius: 100%;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale3d(20, 20, 20);
    opacity: 1;
  }
}

@keyframes stretch2 {
  0% {
  }

  50% {
    opacity: 0.75;
  }

  100% {
    transform: translate(-50%, -50%) scale3d(20, 20, 20);
    opacity: 1;
  }
}
