.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.canvasContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.canvasContainer {
  animation-name: fadeIn;
  animation-duration: 10s;
}

.main {
  color: white;
  flex: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.privacyLink {
  position: absolute;
  left: 30px;
  bottom: 5%;
  font-weight: bold;
  font-size: 16px;
  color: white;
  z-index: 2;
  will-change: color;
}

.privacyLink:hover {
  color: #FFE229;
  transition: color 0.3s ease-in-out;
}

.circle {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-delay: 0;
  border-radius: 100%;
}

.innerCircle {
  height: calc(250px * 0.5);
  width: calc(250px * 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation-name: stretch2;
  animation-duration: 1.25s;
  animation-delay: 0;
  border-radius: 100%;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale3d(20, 20, 20);
    opacity: 1;
  }
}

@keyframes stretch2 {
  0% {
  }

  50% {
    opacity: 0.75;
  }

  100% {
    transform: translate(-50%, -50%) scale3d(20, 20, 20);
    opacity: 1;
  }
}



.noise {
  animation: grain 1s steps(10) infinite;
  background-image: url(/noise.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.15;
  position: fixed;
  top: -110%;
  width: 300%;
  pointer-events: none;
  z-index: 0;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@keyframes fadeIn {  
  0% { opacity: 0 }
  100% { opacity: 1 }
}