.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 20;
}

.main {
  color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.circle {
  height: 250px;
  width: 250px;
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation-name: stretch;
  animation-duration: 2s;
  animation-delay: 0;
  border-radius: 100%;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

  @keyframes stretch {
    0% {
      background-color: $color-1;
    }
    /* 50% {
      transform: scale3d(4, 4, 4);
      opacity: 0.9;
    } */
    100% {
      transform: translate(-50%, -50%) scale3d(10, 10, 10);
      background-color: $color-1;
      opacity: 0.2;
    }
  }

  .innerCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 50%;
    opacity: 1;
    border-radius: 100%;
  }


