@import 'styles/settings';

.c-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;

  &.-medium {
    width: 20px;
    height: 20px;
  }

  &.social-media {
    fill: white;

    :hover {
      color: #ffe229;
      transition: color 0.3s ease-in-out;
    }
  }
}
