@import 'styles/settings';

.c-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;

  &.-medium {
    width: 20px;
    height: 20px;
  }

  &.social-media {
    fill: white;    
    will-change: fill;

    &:hover {
      fill: $color-3;
      transition: fill 0.3s ease-in-out;
    }
  }

  &.-light {
    fill: white;
  }

  &.-dark {
    fill: black;
  }
}
